@import url('https://fonts.googleapis.com/css2?family=Cantata+One&family=Montserrat:wght@400;600;700&display=swap');

:root {
  font-family: Montserrat, Inter, Avenir, Helvetica, Arial, sans-serif;
  font-size: 16px;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;

  --blue: #47A9FB;
  --yellow: #FCC830;
  --white: #FFFFFF;
  --black: #1B2430;
  --purple: #47388C;
}

body {
  background-color: var(--white);
}

body.dark {
  background: var(--black);
}